body {
    width: 500px;
    height: 700px;
    margin: 0 auto;
    margin-top: 5%;
}

#main {
    display: grid;
    grid-template-columns: 70px 1fr;
}

#menu {
    background-color: rgb(206, 206, 206);
    height: 700px;
    border-style: inset;
}

img.menu.user {
    margin-top: 45px;
    width: 70px;
}

#chatList {
    margin-left: 20px;
}

#menu > img.menu {
    width: 40px;
    height: 40px;
    margin: 40px auto;
    display: block;
    
}

#chatHeader {
    height: 50px;
    margin-bottom: 20px;
}

#chatHeader > div.title {
    float: left;
    font-weight: bold;
    font-size: 30px;
    display: table-cell;
}

div.title > p {
    display: table-cell;
}

div.title :last-child {
    font-size: 7px;
    vertical-align: middle;
}

.header {
    margin-top: 10px;
}

img.header {
    width: 30px;
    height: 30px;
    margin-left: 15px;
    float: right;
}